
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white
     border-bottom shadow-sm fixed-top">
      <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo">
      <nav class="d-inline-flex mt-2 mt-md-0 ml-md-auto" style="font-size: larger">
        <a class="ms-5 py-2 text-dark text-decoration-none" href="#">Trang chủ</a>
        <a class="ms-5 py-2 text-dark text-decoration-none" href="#">Danh sách sản phẩm</a>
        <a class="ms-5 py-2 text-dark text-decoration-none" href="#">Liên hệ</a>
      </nav>
      <div class="d-flex align-items-center ms-md-auto">
        <a class="position-relative">
          <i class="me-5 fa fa-shopping-cart fa-2x text-dark"></i>
          <div class="cart-no">5</div>
        </a>
        <a class="me-3 py-2 btn btn-outline-primary">Sign Up</a>
        <a class="me-3 py-2 btn btn-outline-primary">Login</a>
      </div>
    </div>
 