.cart-no{
    position: absolute;
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 13px;
    text-align: center;
    top: -12px;
    left: 20px;
}